extends ../../layouts/auth.pug

block main
  .login-bg
    .login-container
      h1 Đăng nhập
      form(
        action=`/${prefixAdmin}/auth/login`
        method="POST"
      )
        div.form-group
          label(for="email") Email
          input(
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="username@gmail.com"
            required
          )
        div.form-group
          label(for="password") Mật khẩu
          input(
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            required
          )
        a.forgot(href="#") Quên mật khẩu?
        button(type="submit" class="btn btn-primary btn-block") Đăng nhập
        .divider 