extends ../../layouts/default.pug

block main
  .product-detail
    .product-gallery
      if product.images && product.images.length > 0
        img.main-image(src=product.image alt=product.name)
        .thumbnail-list
          each img, i in product.images
            img.thumbnail(src=img alt=`${product.name} ${i}`)

    .product-info
      if product.brand
        .brand
          h1.brand-name= `${product.brand.name}`

      h1.product-name-detail= product.name
      p.product-price-detail= `${Number(product.price).toLocaleString()} VND`

      .product-description
        != product.description

      a.add-to-cart(href=`/cart/add/${product.slug}?action=add`) Thêm vào danh sách yêu thích
      a.buy-now(href=`/cart/add/${product.slug}?action=buy`) Mua ngay