extends ../../layouts/auth.pug

block main
  .login-bg
    .login-container
      .login-logo
        img(src='/image/logo.svg', alt='Logo', style='height:40px;display:block;margin:0 auto 24px auto;')
      form(
        action=`/user/login`
        method="POST"
      )
        div.form-group
          label(for="email") Email
          input(
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="username@gmail.com"
            required
          )
        div.form-group
          label(for="password") Mật khẩu
          input(
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            required
          )
        .link-group(style="display:flex; justify-content:space-between; margin-bottom: 16px;")
          a(href="/user/password/forgot"  style="color: #b5a33dff;") Quên mật khẩu?
          a(href="/user/register" style="color: #b5a33dff;") Đăng ký
        button(type="submit" class="btn btn-primary btn-block") Đăng nhập
        .divider 

