mixin alert-success(time)
  - if (typeof messages !== 'undefined' && messages.success)
    div(
      class="alert alert-success show-alert"
      show-alert=time
    ) #{messages.success}

mixin alert-error(time)
  - if (typeof messages !== 'undefined' && messages.error)
    div(
      class="alert alert-danger show-alert"
      show-alert=time
    ) #{messages.error}